<!--<!DOCTYPE HTML>-->
<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Admin panel</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>-->
<!--</head>-->
<!--<body>-->

<!--<header>-->
<!--    <nav class="navbar navbar-inverse bg-dark navbar-dark">-->
<!--        <div class="container-fluid">-->
<!--            <ul class="nav navbar-nav">-->
<!--            </ul>-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li>-->
<!--                    <a class="nav-link" th:href="@{/logout}" role="button">Logout</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->

<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-4">-->
<!--        </div>-->
<!--        <div class="col-4 mt-3">-->
<!--            <h2>Edit user</h2>-->
<!--            <form th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}" method="post" class="fw-bold text-center">-->
<!--                <label for="formId" class="form-label mb-0">ID</label>-->
<!--                <input type="text" class="form-control" readonly id="formId" name="id" th:text="*{id}">-->
<!--                <label for="formFirstName" class="form-label mb-0">First name</label>-->
<!--                <input type="text" class="form-control card-form" id="formFirstName" name="firstName" th:text="*{firstName}">-->
<!--                <label for="formLastName" class="form-label mt-3 mb-0 text-center">Last name</label>-->
<!--                <input type="text" class="form-control" id="formLastName" name="lastName" th:text="*{lastName}">-->
<!--                <label for="formEmail" class="form-label mt-3 mb-0">Email</label>-->
<!--                <input type="email" class="form-control" id="formEmail" name="username" th:text="*{username}">-->
<!--                <label for="formPassword" class="form-label mt-3 mb-0">Password</label>-->
<!--                <input type="password" class="form-control" id="formPassword" name="password" th:text="*{password}">-->
<!--                <label for="formRoles" class="form-label mt-3 mb-0">Role</label>-->
<!--                <select class="form-control" multiple id="formRoles" name="role_select">-->
<!--                    <option th:each="role : ${allRoles}"-->
<!--                            th:value="${role.getId()}"-->
<!--                            th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}">-->
<!--                    </option>-->
<!--                </select>-->
<!--                <button type="submit" class="btn btn-primary"> Edit User</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-4">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>


<header>
    <nav class="navbar navbar-inverse bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" th:href="@{/logout}" role="button">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div class="row">


        <div class="col-2">
            <div class="nav flex-column nav-pills me-3 mt-3" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button class="nav-link active  text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">
                    Admin
                </button>
                <button class="nav-link  text-start" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">
                    User
                </button>
            </div>

        </div>


        <div class="col-8">
            <div class="tab-content mt-3" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Tables
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">New user
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab"><h2>Admin panel</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each ="user : ${allUsers}">
                                    <td th:utext="${user.getId()}"></td>
                                    <td th:utext="${user.getFirstName()}"></td>
                                    <td th:utext="${user.getLastName()}"></td>
                                    <td th:utext="${user.getUsername()}"></td>
                                    <td><span th:each="role : ${user.getRoles()}"
                                              th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentered">
                                            Launch centered demo modal
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenteredLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                </div>
                                                                <div class="col-4 mt-3">
                                                                    <h2>Edit user</h2>
                                                                    <form th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}" method="post" class="fw-bold text-center">
                                                                        <label for="formId" class="form-label mb-0">ID</label>
                                                                        <input type="text" class="form-control" readonly id="formId" name="id" th:text="*{id}">
                                                                        <label for="formFirstName" class="form-label mb-0">First name</label>
                                                                        <input type="text" class="form-control card-form" id="formFirstName" name="firstName" th:text="*{firstName}">
                                                                        <label for="formLastName" class="form-label mt-3 mb-0 text-center">Last name</label>
                                                                        <input type="text" class="form-control" id="formLastName" name="lastName" th:text="*{lastName}">
                                                                        <label for="formEmail" class="form-label mt-3 mb-0">Email</label>
                                                                        <input type="email" class="form-control" id="formEmail" name="username" th:text="*{username}">
                                                                        <label for="formPassword" class="form-label mt-3 mb-0">Password</label>
                                                                        <input type="password" class="form-control" id="formPassword" name="password" th:text="*{password}">
                                                                        <label for="formRoles" class="form-label mt-3 mb-0">Role</label>
                                                                        <select class="form-control" multiple id="formRoles" name="role_select">
                                                                            <option th:each="role : ${allRoles}"
                                                                                    th:value="${role.getId()}"
                                                                                    th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}">
                                                                            </option>
                                                                        </select>
                                                                        <button type="submit" class="btn btn-primary"> Edit User</button>
                                                                    </form>
                                                                </div>
                                                                <div class="col-4">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <body>


                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4 mt-3">
                                        <h2>Add user</h2>
                                        <form th:action="@{/adduser}" th:object="${newUser}" method="post"
                                              class="fw-bold text-center">
                                            <label for="formFirstName" class="form-label mb-0">First name</label>
                                            <input type="text" class="form-control card-form" id="formFirstName"
                                                   name="firstName" placeholder="First name">
                                            <label for="formLastName" class="form-label mt-3 mb-0 text-center">Last
                                                name</label>
                                            <input type="text" class="form-control" id="formLastName" name="lastName"
                                                   placeholder="Last name">
                                            <label for="formEmail" class="form-label mt-3 mb-0">Email</label>
                                            <input type="email" class="form-control" id="formEmail" name="username"
                                                   placeholder="Email">
                                            <label for="formPassword" class="form-label mt-3 mb-0">Password</label>
                                            <input type="password" class="form-control" id="formPassword"
                                                   name="password" placeholder="Password">
                                            <label for="role_select" class="form-label mt-3 mb-0">Role</label>
                                            <select class="form-control" multiple id="role_select" name="role_select">
                                                <option th:each="role : ${allRoles}"
                                                        th:value="${role.id}"
                                                        th:text="${#strings.replace(role.name, 'ROLE_', ' ')}">
                                                </option>
                                            </select>
                                            <button type="submit" class="btn btn-primary"> Add User</button>
                                        </form>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                </div>
                            </div>
                            </body>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">...
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h2>User-information page</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${currentUser.getId()}"></td>
                            <td th:text="${currentUser.getFirstName()}"></td>
                            <td th:text="${currentUser.getLastName()}"></td>
                            <td th:text="${currentUser.getUsername()}"></td>
                            <td><span th:each="role : ${currentUser.getRoles()}"
                                      th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col2"></div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>